.top-bar{
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

input:hover,input:focus-within{
    width: 130%;
    transform: translateX(-20%);
}

.ham-menu{
    display: none;
    cursor: pointer;
    position: absolute;
    left: 30px;
    font-size: 1.6em;
}

.search{
   
    width: 30%;
    position: relative;
}
.icon{
    position: absolute;
    top:10px;
    right: 20px;
}
input{
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--secondary-bg);
    border-radius: 40px;
    padding: 0px 20px;
    border: none;
    transition: all 200ms ease-in-out;
}
input:focus-visible{
    outline: none;
}